.Dropdown {
    position: relative;
    max-width: 300px;
}

.Dropdown > .header {
    padding: var(--gap-s) var(--gap);
    background-color: #a1a1a1;
}

.Dropdown > .header:hover {
    background-color: #999;
    cursor: pointer;
}

.Dropdown > .header:active {
    background-color: #777;
}

.Dropdown > .list {
    position: absolute;
    width: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #fff;
}

.Dropdown > .list > h3 {
    padding: var(--gap-s) var(--gap);
    border-bottom: 1px solid #e1e1e1;
}

.Dropdown > .list > h3:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}

.Dropdown > .list > h3:active {
    background-color: #a1a1a1;
}