.Btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 18px;
    border: 1px solid #2947e0;
    border-radius: 6px;
    min-height: 53px;
}

.Btn .Icon {
    font-size: 25px;
}

.Btn:hover {
    opacity: 0.8;
    cursor: pointer;
}

.Btn:active {
    opacity: 0.9;
}