.Grid {
    display: grid;
    height: 100%;
    grid-template-rows: 60px 1fr 30px;
}

.Grid > :nth-child(1) {
    background-color: #333;
    color: #fff;
}

.Grid > :nth-child(3) {
    background-color: gray;
    color: #333;
}

.Grid > * {
    padding: 10px;
}