* {
    margin: 0;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

a.active {
    color: var(--primary-color);
}